/* Estilos app */

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(243, 243, 243, 0.555);
  height: 100vh;
  width: 100vw;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cookie {
  height: 300px;
}

.buttons {
  font-size: 20px;
  text-align: center;
  margin-left: 15px;
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.buttons:hover {
  background-color: #daf3f1de;
}
.buttons:active {
  background-color: #f1de;
}

#buttonContainer {
  margin-top: 30px;
}

#messageContainer {
  margin-bottom: 30px;
}

#msgText {
  font-size: 22px;
  font-weight: 700;
}
